<style>
    body, html {

        background: url("http://blog.photobookworldwide.com/wp-content/uploads/2012/12/How-to-organize-your-pictures-from-your-vacation-for-a-photobook.jpg") top center repeat fixed #fff;
        #background-size: cover;
        height: 100%;
        width: 100%;
    }

    .signup-box {
        width: 25%;
        display: -webkit-inline-box;
        background-color: #fff;
        background-repeat: no-repeat;
        border-radius: 3px;
        box-shadow: 0 1px 30.5px rgba(0,0,0,.30),0 1px 1px rgba(0,0,0,.24);
        #display: inline-block;
        overflow: hidden;
        position: relative;
        text-align: center;
        padding-top: 3%;
        padding-left: 2%;
        padding-right: 2%;
        padding-bottom: 3%;
        float: right;
        margin-right: 2%;
        margin-top: 12%;
        z-index: 10;
    }

    .photobook-box {
        width: 63%;
        height: 80%;
        display: -webkit-inline-box;
        background-color: #fff;
        background-repeat: no-repeat;
        border-radius: 3px;
        box-shadow: 0 1px 30.5px rgba(0,0,0,.30),0 1px 1px rgba(0,0,0,.24);
        #display: inline-block;
        overflow: hidden;
        position: relative;
        text-align: center;
        #padding-top: 3%;
        #padding-left: 2%;
        #padding-right: 2%;
        #padding-bottom: 3%;
        padding: 1%;
        float: left;
        margin-left: 2%;
        margin-top: 7%;
        z-index: 10;
    }

    .order-button {
        background-color: #CC0000;
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
        box-shadow:   1px 1px 10px #CCCCCC;
        color: #FFFFFF;
        cursor: pointer;
        #margin-left: 10px;
        outline: medium none;
        text-decoration: none;
        border: none;
        width: 300px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }

    .btn-link {
        text-decoration: none;
        color: #ffffff !important;
    }

    .overlay {
        background-color: rgba(0, 0, 0, 0.6);
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        color: #ffffff;
        text-align: center;
    }

        .address-box {
            height: 5em;
        }

    .header {
        background: rgba(0,0,0,.08);
        color: #fff;
        top: 0;
        height: 50px;
        left: 0;
        position: fixed;
        width: 100%;
        z-index: 10;
    }

        .menu {
            height: 50px;
            position: absolute;
            right: 20px;
            text-align: center;
            z-index: 10;
        }
        .menu li {
            text-align: right;
            display: inline-block;
            margin: 15px 0 15px 1em;
        }

        .menu-link {
            text-decoration: none !important;
            cursor: pointer !important;
            color: #fff;
        }

        .menu-link a:hover {
            text-decoration: none !important;
            cursor: pointer !important;
            color: #fff;
        }

    @media screen and (max-width: 400px) {
        .signup-box, .photobook-box {
            float: none;
            width: 97%;
            margin-right:2px;
            margin-left:2px;
            #width:auto;
            border:0;
            border-bottom:2px solid #000;
        }
        .signup-box {
            margin-top: 140px;
        }
    }

.ui-autocomplete {
    z-index: 99999;
}
    #map {
        border: 1px solid #DDD;
        width:300px;
        height: 300px;
        margin: 10px 0 10px 0;
        -webkit-box-shadow: #AAA 0px 0px 15px;
    }

</style>

<div class="overlay"></div>
<div class="header">
  <span class="menu">

    <li><a class="menu-link" href="/about"> About </a></li>
    <li><a class="menu-link" href="/about"> How to order</a></li>
    <li><a class="menu-link" href="/about"> Privacy </a></li>
    <li><a class="menu-link" href="/about"> Terms and conditions </a></li>
    <span class="logo">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Moment Leaf &nbsp;<img src="http://cdn4.aptoide.com/imgs/6/b/4/6b4c96051ac60524caf18fc1f7868292.png" height="50" width="50"></span>
  </span>
</div>
<div class="signup-box">
  <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
              <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.label :name,  class: "mdl-textfield__label"%>
        <%= f.text_field :name, class: "mdl-textfield__input"  %>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.label :email, class: "mdl-textfield__label"  %>
        <%= f.text_field :email, class: "mdl-textfield__input"  %>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.label :contact_number, class: "mdl-textfield__label"  %>
        <%= f.text_field :contact_number, class: "mdl-textfield__input"  %>
      </div>
      <input type="hidden" name="user_shipping_address_full" id="user_shipping_address_full" value="" />
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <label class="mdl-textfield__label" for="user_name">Shipping address</label><br><br>
        <%= f.text_field :address, class: "mdl-textfield__input", placeholder: "Start typing for suggestions" %>
      </div>

      <div class="mdl-textfield mdl-js-textfield">
        <%#= f.label :address_locality, class: "mdl-textfield__label" %>
        <%= f.text_field :address_locality, :readonly => true, class: "mdl-textfield__input" %>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%#= f.label :administrative_area_level_1, class: "mdl-textfield__label"%>
        <%= f.text_field :administrative_area_level_1, :readonly => true, class: "mdl-textfield__input" %>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%#= f.label :address_country, class: "mdl-textfield__label"%>
        <%= f.text_field :address_country, :readonly => true, class: "mdl-textfield__input" %>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%#= f.label :address_postal_code, class: "mdl-textfield__label" %>
        <%= f.text_field :address_postal_code, :readonly => true, class: "mdl-textfield__input" %>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <div id="map">
        </div>
      </div>
      <br><br>
      <div class="actions">
        <%#= f.submit 'Order now !', class: "order-button" %>
        <%= link_to(image_tag("https://app.momentleaf.com/order_now.png"), :express_checkout_path) %>
      </div>
  <% end %>
</div>


<div class="photobook-box">
  <iframe src="https://momentleaf.com/show/?key=946642658680763&book_mode=true" height="630" width="500"></iframe>
</div>

<script>
    $(function() {
        var addresspickerMap = $( "#user_address" ).addresspicker({
            regionBias: "us",
            updateCallback: showCallback,
            mapOptions: {
                zoom: 4,
                center: new google.maps.LatLng(46, 2),
                scrollwheel: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            },
            elements: {
                map:      "#map",
                street_number: '#street_number',
                route: '#route',
                locality: '#user_address_locality',
                administrative_area_level_1: '#user_administrative_area_level_1',
                country:  '#user_address_country',
                postal_code: '#user_address_postal_code',
                type:    '#type'
            }
        });

        var gmarker = addresspickerMap.addresspicker( "marker");
        gmarker.setVisible(true);
        addresspickerMap.addresspicker( "updatePosition");

        $('#reverseGeocode').change(function(){
            $("#addresspicker_map").addresspicker("option", "reverseGeocode", ($(this).val() === 'true'));
        });

        function showCallback(geocodeResult, parsedGeocodeResult){
            $('#user_shipping_address_full').val(JSON.stringify(parsedGeocodeResult, null, 4));
        }
        // Update zoom field
        var map = $("#user_address").addresspicker("map");
        google.maps.event.addListener(map, 'idle', function(){
            $('#zoom').val(map.getZoom());
        });

    });
</script>
        </script>

