<%= form_for(@photobook) do |f| %>
  <% if @photobook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photobook.errors.count, "error") %> prohibited this photobook from being saved:</h2>

      <ul>
      <% @photobook.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :photos %><br>
    <%= f.text_field :photos %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
