<p id="notice"><%= notice %></p>

<h1>Listing Photobooks</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Photos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photobooks.each do |photobook| %>
      <tr>
        <td><%= photobook.id %></td>
        <td><%= photobook.name %></td>
        <td><%= photobook.photos %></td>
        <td><%= link_to 'Show', photobook %></td>
        <td><%= link_to 'Edit', edit_photobook_path(photobook) %></td>
        <td><%= link_to 'Destroy', photobook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photobook', new_photobook_path %>
