<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @photobook.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @photobook.name %>
</p>

<p>
  <strong>Photos:</strong>
  <%= @photobook.photos %>
</p>

<%= link_to 'Edit', edit_photobook_path(@photobook) %> |
<%= link_to 'Back', photobooks_path %>
